ol.logindetails>li{
	margin: 1em 0em 1em;
}
.loginlabels{
	width: 6em;
	display: inline-block;
}
div.loginform{
	background-color: #6F9863;
	width: 25%;
	min-width: 30em;
	margin: 3em auto 3em;
}
.errorhide{
	display: none;
}
.errorshow{
	display: inline;
	color: red;
}