.reply{
	width: auto;
	margin: 1em;
	background-color: #D5FFD5;
	color: black;
}
.reply div{
	border-style: none;
	padding: 0px;
}
.reply p{
	margin: 0px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 1em;
	padding-right: 1em;
}
.replyheader{
	color: #BEBC00;
	background-color: #6F9863;
}
.replyheader p{
	padding: 5px;
	display: inline-block;
}
.replyheader input{
	float: right;
	margin: 0px 0.5em 0px;
}
.replyheader form{
	margin: 0px;
	display: inline;
}
.replyfooter p{
	padding: 0px;
}
.posterinfo{
	width: 150px;
	min-height: inherit;
	float: left;
	background-color: #D5FFD5;
}
.posterinfo p{
	padding: 8px;
}
.avatar{
	padding: 16px;
}
.replybody{
	min-height: 200px;
}
.replyfooter{
	clear: both;
	background-color: #BFF0BF;
	border: 1px solid #40E0D0;
	min-height: 10px;
	margin-bottom: 0px;
}
.content{
	margin-left: 150px;
	background-color: #EEFFEE;
	min-height: inherit;
	color: #000000;
}
.pages{
	display: inline-block;
}
.pages li{
	margin: 1px;
	border: 1px solid black;
	min-width: 1em;
	float:left;
	text-align:center;
	background-color: #6F9863;
	color: #BEBC00;
}
li.curpage{
	background-color: #BFF0BF;
	color: black;
}